.taskCard {
    background: #121212;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding: 0px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
    min-width: 30em;
    height: 27vh;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.finished {
    opacity: 0.5;
}

