.taskPage {
    margin: 0px 50px 50px 50px;
}

.textWrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.imageTitle {
    text-align: left;
    border-bottom: 1px solid #18ffff;
}

.slide {
    img {
        width: 100%;
        height: 100%;
    }
}