.logPage {
    height: 100vh;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #121212;
    height: 50vh;
    width: 70vw;
    .MuiButton-root {
        margin-top: 50px;
    }

    .lsSwitch {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 20vw;
        padding-top: 10vh;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        .MuiTextField-root {
            margin-left: 15px;
            margin-top: 15px;
            color: white;
        }
    }
}