.App {
  text-align: center;
  height: 100%;
}

.menu {
  width: 225px;
  height: 100%;
  float: left;
  position: fixed;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }
  .abc {
    margin-left: 0px;
  }
  .child {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {

}

.head {
  width: 100%;
  position: fixed;
  top: 0;
}


.abc {
  margin-left: 200px;
  height: 100%;
  background: #181818;
}



.parent > * {
  justify-content: space-evenly;
  flex: 0 0 30%;
}
  
.child {
  min-width: 400px;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
