.App {
  text-align: center;
  height: 100%;
}

.dark {
  background: black;
  color: white;
  .activeTheme {
    color: #18FFFF;
  }
  .inactiveTheme {
    color: rgba(255, 255, 255, 0.5)
  }
}

.light {
  background: #fafafa;
  color: rgba(0, 0, 0, 87);
  .menu {
    background: white;
  }
  .taskCard {
    background: white;
    color: black;
  }
  .activeTheme {
    color: rgb(255, 83, 172);
  }
  .inactiveTheme {
    color: rgba(255, 255, 255, 0.5)
  }
  .head {
    border-bottom: 5px solid #E20074;
    background: #181818;
    color: white;
  }
  .imageTitle {
    border-bottom: 1px solid #E20074;
  }
  .taskCard {
    border-top: 5px solid #E20074;
  }
}

.menu {
  width: 225px;
  height: 100%;
  float: left;
  position: fixed;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }
  .abc {
    margin-left: 0px;
  }
  .child {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {

}

.head {
  width: 100%;
  position: fixed;
  top: 0;
}


.abc {
  margin-left: 200px;
  height: 100%;
  background: #181818;
}



.parent > * {
  justify-content: space-evenly;
  flex: 0 0 30%;
}
  
.child {
  min-width: 400px;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
